.copyright {
    background-color: #1a252f;
}

.fixed {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}

.content-grey {
    background-color: #f8f9fc;
}

hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.img-profile {
    height: 2rem;
    width: 2rem;
}

.profile-font {
    color: #858796 !important;
    font-size: 80%;
    font-weight: 400;
}

.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}
:root
{
    --clr: #212529;
}

topmenu
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 18vh;
    background: linear-gradient(to left, #424549, #212529 15%, #212529 85%, #424549);
}

.list-active
{
    border-radius: 10px;
    background: #212529;
}

.list-active:hover
{
    background: linear-gradient(to left, #212529, #414448);
}
